<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <%= image_tag "drivemate.png" %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to rides_path, class: "nav-link" do %>
              <i class="fa-solid fa-magnifying-glass"></i>
            <% end %>
          </li>
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "#", class: "nav-link" do %>
              <i class="fa-solid fa-heart"></i>
            <% end %>
          </li>
          <li class="nav-item active">
            <%= link_to dashboard_path, class: "nav-link" do %>
             <i class="fa-solid fa-table-cells"></i>
            <% end %>
          </li>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", crop: :fill, id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= link_to "#", class: "nav-link", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
                <i class="fa-solid fa-user"></i>
              <% end %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Add a ride", new_ride_path, class: "dropdown-item" %>
              <%= link_to "My previous rides", "#", class: "dropdown-item" %>
              <%= link_to "Edit profile", edit_user_registration_path, class: "nav-link" %>
              <%= link_to "Log out", destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>

            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
