<div class="row">
  <div class="col-8">

    <h1>My Bookings</h1>
    <div class="bookings-owners-drivers d-flex">
      <div class="as-owner w-30 ">
        <h4>I have a car</h4>
        <div class="card p-3 m-1">
          <p>Pending bookings</p>
            <% current_user.rides.each do |ride| %>
              <p><strong><%= ride.departure_location %> <i class="fa-solid fa-arrow-right"></i> <%= ride.arrival_location %> on <%= ride.date %></strong></p>
              <% ride.bookings.each do |booking| %>
                  <% if booking.status == "Pending"  %>
                  <div class="d-flex flex-column">
                    <div class="d-flex ">
                      <div>
                        <i class="fa-solid fa-square-check m-1 text-success"></i>
                        <i class="fa-solid fa-square-xmark m-1 text-danger"></i>
                      </div>
                      <div><%= booking.user.first_name %></div>
                    </div>
                    <div>"<%= booking.comment %>"</div>
                  </div>
                  <% end %>
              <% end %>
            <% end %>
          </div>

          <div class="card p-3 m-1">
            <p>Confirmed bookings</p>
              <% current_user.rides.each do |ride| %>
                <p><strong><%= ride.departure_location %> <i class="fa-solid fa-arrow-right"></i> <%= ride.arrival_location %> on <%= ride.date %></strong></p>
                <% ride.bookings.each do |booking| %>
                    <% if booking.status == "Confirmed"  %>
                    <div>
                      <i class="fa-solid fa-car-side text-primary"></i> Ride with <%= booking.user.first_name %>
                      <p>"<%= booking.comment %>"</p>
                    </div>
                    <% end %>
                <% end %>
              <% end %>
          </div>

          <div class="card p-3 m-1">
            <p>Declined bookings</p>
            <% @owner_bookings.each do |booking| %>
              <% if booking.status == "declined" %>
                <li><strong><%= booking.ride.departure_location %> <i class="fa-solid fa-arrow-right"></i> <%= booking.ride.arrival_location %></strong>  on <%= booking.ride.date %> with <strong><%= booking.user.first_name %></strong> (Driver candidate)</li>
              <% end %>
            <% end %>
          </div>
        </div>



      <div class="as-driver">
        <h4>I have a driving licence</h4>
        <p>Pending bookings</p>
        <ul>
          <% @driver_bookings.each do |booking|
          %>
            <% if booking.status == "Pending" %>
              <li><strong><%= booking.ride.departure_location %> <i class="fa-solid fa-arrow-right"></i> <%= booking.ride.arrival_location %></strong>  on <%= booking.ride.date %> with <strong><%= booking.ride.user.first_name %></strong> (Owner)</li>
            <% end %>
          <% end %>
        </ul>
        <p>Confirmed bookings</p>
        <ul>
          <% @driver_bookings.each do |booking|
          %>
            <% if booking.status == "Confirmed" %>
              <li><strong><%= booking.ride.departure_location %> <i class="fa-solid fa-arrow-right"></i> <%= booking.ride.arrival_location %></strong>  on <%= booking.ride.date %> with <strong><%= booking.ride.user.first_name %></strong> (Owner)</li>
            <% end %>
          <% end %>
        </ul>
        <p>Declined bookings</p>
        <ul>
          <% @driver_bookings.each do |booking| %>
            <% if booking.status == "declined" %>
              <li><strong><%= booking.ride.departure_location %> <i class="fa-solid fa-arrow-right"></i> <%= booking.ride.arrival_location %></strong>  on <%= booking.ride.date %> with <strong><%= booking.ride.user.first_name %></strong> (Owner)</li>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="modify_profile">
      <%= link_to edit_user_registration_path, class: "nav-link" do %>
        <i class="fa-solid fa-pen"></i>
      <% end %>
    </div>

    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Profile picture</th>
          <td>
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "https://fastly.picsum.photos/id/476/200/300.jpg?hmac=_vE--dw3keZ1r73AbtN9I362ItgpZJkRbRrJsB688Kw", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %></td>
        </tr>

        <tr>
          <th scope="row">Name</th>
          <td><%= @user.first_name %> <%= @user.last_name %></td>
        </tr>

        <tr>
          <th scope="row">Email</th>
          <td><%= @user.email %></td>
        </tr>


        <tr>
          <th scope="row">Description</th>
          <td><%= @user.description %></td>
        </tr>

        <tr>
          <th scope="row">Gearbox</th>
          <td><%= @user.gearbox %></td>
        </tr>

        <% if @user.car_owner? %>
          <tr>
            <th scope="row">I am a car owner</th>
            <td>
              <p><%=@user.gearbox%> gearbox </p>
              <p><%= @user.car_owner_info %></p>
          </tr>
        <% end %></td>

        <% if @user.driving_licence? %>
          <tr>
            <th scope="row">I have a valid driving licence</th>
            <td><%= @user.driving_licence_info %></td>
          </tr>
        <% end %></td>

        <tr>
          <th scope="row">My Password</th>
          <td> ****** </td>
        </tr>

      </tbody>
    </table>
  </div>
  <%# <p> Placeholder for creating a button sending to resetting the paswword via devise</p>%>
</div>


<%# Changer ici en fonction de comment j'ai adapté mon dashboard dans pagescontroller %>


          <!--
          <ul>
            <% @owner_bookings.each do |booking|
            %>
              <% if booking.status == "Pending" %>
                <li><strong><%= booking.ride.departure_location %> <i class="fa-solid fa-arrow-right"></i> <%= booking.ride.arrival_location %></strong>  on <%= booking.ride.date %> with <strong><%= booking.user.first_name %></strong> (Driver candidate)</li>
              <% end %>
            <% end %>
          </ul>

          -->

          <%# <p>Mon autre tentative</p> %>
