<div class="row">

  <%# <p>NE FONCTIONNE PAS, VOIR AVEC TA MERCREDI MATIN</p> %>
  <div class="col-8">
    <div class="text-center mb-5">
      <h2>My Bookings</h2>
    </div>

    <div class="d-flex justify-content-between">
      <div class="as-owner ">
        <div class = "d-flex justify-content-center">
          <h4>I have a car</h4>
        </div>

        <p>Pending bookings</p>
        <% @owner_bookings.each do |pending|%>
          <% if pending.status == "pending" %>
            <div class="card-product">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              <div class="card-product-infos">
                  <p>From <strong><%= pending.ride.departure_location.capitalize %></strong></p>
                  <p>To <strong><%= pending.ride.arrival_location.capitalize %></strong></p>
                  <p>On <strong><%= pending.ride.date %></strong></p>
                  <p>With <strong><%= pending.user.first_name %></strong></p>
              </div>
            </div>
          <% end %>
        <% end %>

        <p>Confirmed bookings</p>
        <% @owner_bookings.each do |confirmed|%>
          <% if confirmed.status == "confirmed" %>
            <div class="card-product">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              <div class="card-product-infos">
                <p>From <strong><%= pending.ride.departure_location.capitalize %></strong></p>
                <p>To <strong><%= pending.ride.arrival_location.capitalize %></strong></p>
                <p>On <strong><%= pending.ride.date %></strong></p>
                <p>With <strong><%= pending.user.first_name %></strong></p>
              </div>
            </div>
          <% end %>
        <% end %>

        <p>Declined bookings</p>
        <% @owner_bookings.each do |declined|%>
          <% if declined.status == "declined" %>
            <div class="card-product">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              <div class="card-product-infos">
                <p>From <strong><%= pending.ride.departure_location.capitalize %></strong></p>
                <p>To <strong><%= pending.ride.arrival_location.capitalize %></strong></p>
                <p>On <strong><%= pending.ride.date %></strong></p>
                <p>With <strong><%= pending.user.first_name %></strong></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

      <div class="as-driver">
        <div class = "d-flex justify-content-center">
          <h4>I have a driving licence</h4>
        </div>
        <p>Pending bookings</p>
        <%@driver_bookings.each do |pending|%>
          <% if pending.status == "pending" %>
            <div class="card-product">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              <div class="card-product-infos">
                  <p>From <strong><%= pending.ride.departure_location.capitalize %></strong></p>
                  <p>To <strong><%= pending.ride.arrival_location.capitalize %></strong></p>
                  <p>On <strong><%= pending.ride.date %></strong></p>
                  <p>With <strong><%= pending.user.first_name %></strong></p>
              </div>
            </div>
          <% end %>
        <% end %>

        <p>Confirmed bookings</p>
        <% @driver_bookings.each do |confirmed|%>
          <% if confirmed.status == "confirmed" %>
            <div class="card-product">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              <div class="card-product-infos">
                <p>From <strong><%= pending.ride.departure_location.capitalize %></strong></p>
                <p>To <strong><%= pending.ride.arrival_location.capitalize %></strong></p>
                <p>On <strong><%= pending.ride.date %></strong></p>
                <p>With <strong><%= pending.user.first_name %></strong></p>
              </div>
            </div>
          <% end %>
        <% end %>

        <p>Declined bookings</p>
        <% @driver_bookings.each do |declined| %>
          <% if declined.status == "declined" %>
            <div class="card-product">
              <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
              <div class="card-product-infos">
                <p>From <strong><%= pending.ride.departure_location.capitalize %></strong></p>
                <p>To <strong><%= pending.ride.arrival_location.capitalize %></strong></p>
                <p>On <strong><%= pending.ride.date %></strong></p>
                <p>With <strong><%= pending.user.first_name %></strong></p>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-4">
    <div class="modify_profile">
      <%= link_to edit_user_registration_path, class: "nav-link" do %>
        <i class="fa-solid fa-pen"></i>
      <% end %>
    </div>

    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Profile picture</th>
          <td>
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "https://fastly.picsum.photos/id/476/200/300.jpg?hmac=_vE--dw3keZ1r73AbtN9I362ItgpZJkRbRrJsB688Kw", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %></td>
        </tr>

        <tr>
          <th scope="row">Name</th>
          <td><%= @user.first_name %> <%= @user.last_name %></td>
        </tr>

        <tr>
          <th scope="row">Email</th>
          <td><%= @user.email %></td>
        </tr>


        <tr>
          <th scope="row">Description</th>
          <td><%= @user.description %></td>
        </tr>

        <tr>
          <th scope="row">Gearbox</th>
          <td><%= @user.gearbox %></td>
        </tr>

        <% if @user.car_owner? %>
          <tr>
            <th scope="row">I am a car owner</th>
            <td>
              <p><%=@user.gearbox%> gearbox </p>
              <p><%= @user.car_owner_info %></p>
          </tr>
        <% end %></td>

        <% if @user.driving_licence? %>
          <tr>
            <th scope="row">I have a valid driving licence</th>
            <td><%= @user.driving_licence_info %></td>
          </tr>
        <% end %></td>

        <tr>
          <th scope="row">My Password</th>
          <td> ****** </td>
        </tr>

      </tbody>
    </table>
  </div>
  <%# <p> Placeholder for creating a button sending to resetting the paswword via devise</p>%>
</div>


<%# Changer ici en fonction de comment j'ai adapté mon dashboard dans pagescontroller %>
