<div class="row">
<div class="d-flex justify-content-center">
  <h1>My Bookings</h1>
</div>

<div class= "row">
  <div class="col-12 col-lg-6">
    <div class="title-show d-flex justify-content-center">
      <h4>I have a car</h4>
    </div>
    <div class="title-rides d-flex justify-content-center">
      <p>Pending Bookings</p>
    </div>
    <div class="rides-cards">
       <% current_user.rides.each do |ride| %>
          <% if !ride.bookings.pending_bookings.empty?  %>
            <div class="title-ride-dashboard">
              <p><strong><%= ride.departure_location %> <i class="fa-solid fa-arrow-right"></i> <%= ride.arrival_location %> </p>
              <p><%= ride.date %></strong></p>
            </div>
          <% end %>

          <% ride.bookings.each do |booking| %>
            <% if booking.status == "Pending"  %>
              <div class="d-flex flex-column">
                <div class="ride-to-validate d-flex ">
                  <div>
                    <%= link_to booking_update_status_path(booking, status: "Confirmed", status_opposite: "Declined" ) do  %>
                      <i class="fa-solid fa-circle-check m-1 text-success"></i>
                    <% end %>
                    <%= link_to booking_update_status_path(booking, status: "Declined" ) do  %>
                      <i class="fa-solid fa-circle-xmark m-1 text-danger"></i>
                    <% end %>

                    <div class="profile justify-content-start">
                      <% if current_user.present? && current_user.photo.attached? %>
                        <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", crop: :fill, id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                      <% else %>
                        <i class="fa-solid fa-user"></i>
                      <% end %>
                      <%= booking.user.first_name.capitalize %>
                      <p>"<%= booking.comment %>"</p>
                    </div>
                  </div>
                </div>
              </div>
            <%end%>
          <% end %>
        <% end %>
    </div>

    <div class="title-rides d-flex justify-content-center">
      <p>Confirmed Bookings</p>
    </div>
    <div class="rides-cards">
      <% current_user.rides.each do |ride| %>
        <% if !ride.bookings.confirmed_bookings.empty?  %>
          <div class="title-ride-dashboard">
            <p><strong><%= ride.departure_location %> <i class="fa-solid fa-arrow-right"></i> <%= ride.arrival_location %> </p>
            <p><%= ride.date %></strong></p>
          </div>
        <% end %>

        <div class="ride-to-validate d-flex ">
          <% ride.bookings.each do |booking| %>
              <% if booking.status == "Confirmed"  %>
              <div>
                <i class="fa-solid fa-car-side text-success"></i> Ride with <%= booking.user.first_name.capitalize %>
                <p>"<%= booking.comment %>"</p>
              </div>
              <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="title-rides d-flex justify-content-center">
      <p>Declined Bookings</p>
    </div>
    <div class="rides-cards">
       <% current_user.rides.each do |ride| %>
          <% if !ride.bookings.declined_bookings.empty?  %>
            <div class="title-ride-dashboard">
              <p><strong><%= ride.departure_location %> <i class="fa-solid fa-arrow-right"></i> <%= ride.arrival_location %> </p>
              <p><%= ride.date %></strong></p>
            </div>
          <% end %>

          <div class="ride-to-validate d-flex ">
            <% ride.bookings.each do |booking| %>
              <% if booking.status == "Declined" %>
                <div>
                  <i class="fa-solid fa-car-side text-danger"></i> DECLINED riding with <%= booking.user.first_name %>
                  <p>"<%= booking.comment %>"</p>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
    </div>
  </div>

  <div class="col-12 col-lg-6" data-controller="bookings">
    <div class="title-show d-flex justify-content-center">
      <h4>I have a driving licence</h4>
    </div>
    <div class="title-rides d-flex justify-content-center">
      <p data-bookings-target="pending">Pending Bookings</p>
    </div>
    <div class="rides-cards" >
      <% @driver_bookings.each do |booking|%>
        <% if booking.status == "Pending" %>
          <div class="title-ride-dashboard" style="position: relative;">
            <p><strong><%= booking.ride.departure_location %> <i class="fa-solid fa-arrow-right"></i> <%= booking.ride.arrival_location %></strong> </p>
            <p>on <%= booking.ride.date %></p>
            <p>with <%= booking.ride.user.first_name.capitalize %></p>
            <%= link_to "#", data: {action: "click->bookings#showForm"} do  %>
              <i class="fa-solid fa-pencil text-body" style="position: absolute; top: 7px; right: 32px;"></i>
            <% end %>
            <%= link_to destroy_booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-solid fa-circle-xmark remove text-danger" style="position: absolute; top: 7px; right: 9px;"></i>
            <% end %>
          </div>
            <%= render "edit_booking_form", booking: booking %>
          <div class="ride-to-validate d-flex ">
            <p>"<%= booking.comment %>"</p>
          </div>

          <%# <div class="d-flex justify-content-end">
            <button class="btn btn-outline-primary" data-action="click->bookings#showForm" style="width: min-content;"><i class="fa-solid fa-pencil"></i></button>
          </div> %>


        <% end %>
      <% end %>
    </div>

    <div class="title-rides d-flex justify-content-center">
      <p>Confirmed Bookings</p>
    </div>
    <div class="rides-cards">
      <% @driver_bookings.each do |booking|%>
        <% if booking.status == "Confirmed" %>
          <div class="title-ride-dashboard" style="position: relative;">
            <p><strong><%= booking.ride.departure_location %> <i class="fa-solid fa-arrow-right"></i> <%= booking.ride.arrival_location %></strong> </p>
            <p>on <%= booking.ride.date %></p>
            <p>with <%= booking.ride.user.first_name.capitalize %></p>
           <%= link_to "#", data: {action: "click->bookings#showForm"} do  %>
            <i class="fa-solid fa-pencil text-body test" style="position: absolute; top: 7px; right: 32px;"></i>
          <% end %>
            <%= link_to destroy_booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-solid fa-circle-xmark remove text-danger" style="position: absolute; top: 7px; right: 9px;"></i>
            <% end %>
          </div>
            <%= render "edit_booking_form", booking: booking %>
          <div class="ride-to-validate d-flex ">
            <p>"<%= booking.comment %>"</p>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="title-rides d-flex justify-content-center">
      <p>Declined Bookings</p>
    </div>
    <div class="rides-cards">
      <% @driver_bookings.each do |booking| %>
        <% if booking.status == "Declined" %>
          <div class="title-ride-dashboard" style="position: relative;">
            <p><strong><%= booking.ride.departure_location %> <i class="fa-solid fa-arrow-right"></i> <%= booking.ride.arrival_location %></strong> </p>
            <p>on <%= booking.ride.date %></p>
            <p>with <%= booking.ride.user.first_name.capitalize %></p>
            <%= link_to destroy_booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
              <i class="fa-solid fa-circle-xmark remove text-danger" style="position: absolute; top: 7px; right: 9px;"></i>
            <% end %>
          </div>
          <div class="ride-to-validate d-flex ">
            <p>"<%= booking.comment %>"</p>
          </div>
        <%end%>
      <% end %>
    </div>
  </div>
</div>

<div class="row justify-content-center mt-5 mb-5">
  <div class="col-12 col-lg-6">
    <div class="modify_profile">
      <%= link_to edit_user_registration_path, class: "nav-link" do %>
        <i class="fa-solid fa-pen"></i>
      <% end %>
    </div>

    <table class="table">
      <tbody>
        <tr>
          <th scope="row">Profile picture</th>
          <td>
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "https://fastly.picsum.photos/id/476/200/300.jpg?hmac=_vE--dw3keZ1r73AbtN9I362ItgpZJkRbRrJsB688Kw", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %></td>
        </tr>

        <tr>
          <th scope="row">Name</th>
          <td><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></td>
        </tr>

        <tr>
          <th scope="row">Email</th>
          <td><%= @user.email %></td>
        </tr>


        <tr>
          <th scope="row">Description</th>
          <td><%= @user.description %></td>
        </tr>

        <tr>
          <th scope="row">Gearbox</th>
          <td><%= @user.gearbox %></td>
        </tr>

        <% if @user.car_owner? %>
          <tr>
            <th scope="row">I am a car owner</th>
            <td>
              <p><%=@user.gearbox%> gearbox </p>
              <p><%= @user.car_owner_info %></p>
          </tr>
        <% end %></td>

        <% if @user.driving_licence? %>
          <tr>
            <th scope="row">I have a valid driving licence</th>
            <td><%= @user.driving_licence_info %></td>
          </tr>
        <% end %></td>

        <tr>
          <th scope="row">My Password</th>
          <td> ****** </td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>
<%# Changer ici en fonction de comment j'ai adapté mon dashboard dans pagescontroller %>

<!--
<ul>
  <% @owner_bookings.each do |booking|
  %>
    <% if booking.status == "Pending" %>
      <li><strong><%= booking.ride.departure_location %> <i class="fa-solid fa-arrow-right"></i> <%= booking.ride.arrival_location %></strong>  on <%= booking.ride.date %> with <strong><%= booking.user.first_name %></strong> (Driver candidate)</li>
    <% end %>
  <% end %>
</ul>

-->

<%# <p>Mon autre tentative</p> %>
