<div>
 <h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
</div>

<%#Using UI KIT from Le Wagon > trip = ride %>
  <div class="cards">
    <% @rides.each do |ride| %>
      <%= link_to ride_path(ride) do %>
        <div class="card-trip">
        <div class="container">
          <div class="card-category">
            <%#= image_tag "form-to-img.png" %>
            <div class="card-departure"><h2><%= ride.departure_location.capitalize %></h2></div>
            <i class="fa-solid fa-angles-right"></i>
            <div class="card-arrival"><h2><%= ride.arrival_location.capitalize %></h2></div>
          </div>
          <div class="card-trip-infos">
            <div>
              <h3><strong><%= ride.user.first_name.capitalize %> </strong>propose ce trajet le <%= ride.date.day %> / <%= ride.date.month %> / <%= ride.date.year %></h3>
            <h3 class="card-trip-pricing"><%= ride.seats_available %> <i class="fa-solid fa-person"> </i> </h3></div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
