
<%= @search_nill %>

<div class = "align-items-center d-flex justify-content-between px-4 py-3 mt-4 shadow" style="border-radius: 50px;">
  <%= form_tag(root_path, method: :get) do %>
    <div class="input-group">
      <div class="form-outline m-0 p-0">
        <label for="site-search" placeholder="Search for destination"> <i class="fa-solid fa-magnifying-glass"></i> </label>
        <%= text_field_tag :query, nil, id: "site-search", class:"border-0 border-1 border-bottom border-dark form-control rounded-0", style:"margin-right: 20px" %>
        <%= submit_tag "Search"%>
        <% if current_user.present? %>
        <% end %>
      </div>
    </div>
  <% end %>

  <%= link_to "Add a ride" , new_ride_path, class: "btn btn-primary" %>
</div>

<div class="cards py-4">
  <% @rides.each do |ride| %>
    <%= link_to ride_path(ride) do %>
    <div class="card-category">
      <div class="card-ride-img"style="background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url('https://source.unsplash.com/random/?<%=ride.departure_location%>')">
      </div>
      <div class="ride-way d-flex justify-content-center">
          <p class="departure_arrival"><%= ride.departure_location&.capitalize %> to <%= ride.arrival_location&.capitalize %></p>
      </div>
      <div class="card-info d-flex justify-content-between">
        <div class="profile align-self-end">
          <% if current_user.present? && current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", crop: :fill, id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <i class="fa-solid fa-user"></i>
          <% end %>
          <%= ride.user.first_name.capitalize %>
        </div>
        <div class="seats-date">
          <p class="nb-seat"><%= ride.seats_available %> <i class="fa-solid fa-person"></i></p>
          <p><%= ride.date.day %>/<%= ride.date.month %>/<%= ride.date.year %></p>
        </div>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
