<div class = "d-flex justify-content-between">
 <h3>All Rides</h3>
  <% if current_user %>
    <%= link_to "Add a ride", new_ride_path, class: "btn btn-dark" %>
  <% end %>
</div>


<div class="cards mt-3">
  <% @rides.each do |ride| %>
    <div class="card-trip">
      <%= link_to ride_path(ride) do %>
        <div class="card-category">
          <div class="row">
            <div class="col align-self-start">
              <h2><%= ride.departure_location.capitalize %></h2>
            </div>
            <div class="col align-self-center">
              <i class="fa-solid fa-chevron-right"></i>
            </div>
            <div class="col align-self-end">
              <h2><%= ride.arrival_location.capitalize %></h2>
            </div>
          </div>
        </div>

        <div class="card-trip-infos">
          <div>
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", crop: :fill, id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% else %>
              <%= link_to "#", class: "nav-link", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
                <i class="fa-solid fa-user"></i>
              <% end %>
            <% end %>
            <%= ride.user.first_name.capitalize %>
          </div>
          <div class="card-trip-pricing">
            <h2><%= ride.seats_available %> <i class="fa-solid fa-person"></i></h2>
            <p><%= ride.date.day %>/<%= ride.date.month %>/<%= ride.date.year %></p>
          </div>
        </div>

      <% end %>
    </div>
  <% end %>
</div>
