<div class="text-center mb-3">
  <h1>Edit my ride</h1>
</div>

<div class="row justify-content-center">
  <div class="col-12 col-lg-6">
    <%= simple_form_for @ride do |f| %>
      <%= f.input :car_type %>
      <%= f.input :owner_presence, as: :select, collection: [['Yes',true], ['No',false]], required: true %>
      <%= f.input :seats_available %>
      <%= f.input :description %>
      <%= f.input :date, as: :date %>
      <%= f.input :departure_location %>
      <%= f.input :arrival_location %>

      <%= f.submit %>

    <% end %>
  </div>
</div>
