
<h1>show</h1>

<div class="card p-3">
  <div class="row">
    <div class="d-flex justify-content-between">
      <div class="d-flex justify-content-start">
        <% if current_user.present? && current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", crop: :fill, id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= link_to "#", class: "nav-link", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false do %>
            <i class="fa-solid fa-user"></i>
          <% end %>
        <% end %>
        <%= @ride.user.first_name.capitalize %>
      </div>

      <% if Ride.find(params[:id]).user == current_user %>
        <div class="d-flex justify-content-end">
          <%= link_to "Edit ride", edit_ride_path(@ride), class: "btn btn-dark me-md-3"%>
          <%= link_to "Delete ride", ride_path(@ride), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-dark"%>
        </div>
      <% end %>

    </div>
  </div>

<div class="d-flex justify-content-between width:300px">
  <%= @ride.departure_location %>
</div>
  <ul>
    <li>Departure location:  <%= @ride.departure_location %></li>
    <li>Arrival location:  <%= @ride.arrival_location %></li>
    <li>Description:  <%= @ride.description %></li>
    <li>Car Type:       <%= @ride.car_type %></li>
    <li>Owner Presence: <%= @ride.owner_presence%></li>
    <li>Seat_available:  <%= @ride.seats_available %></li>
    <li>Departure date:  <%= @ride.date %></li>
  </ul>


  <%# N'affiche de pouvoir postuler que si on a le permis dans son espace client %>
  <% if current_user %>
    <% if current_user.driving_licence %>
      <div>
      <br><br>
        <p>Do you want to be the driver for this ride ?</p>
        <%= simple_form_for [@ride, @booking] do |f| %>
          <%= f.input :comment,
          label: false,
          placeholder: "Say hi and let the owner knows why you would be the best driver !",
          hint: "Your comment must be at least 10 characters"
          %>
          <div class="d-flex justify-content-center">
            <%= f.submit "I want to drive this car!", class: "btn btn-dark" %>
          </div>
        <% end %>
      </div>
    <% end %>
   <% end %>

   <br><br><br>

  <% if !current_user %>
    <p>Log in or Sign up to be the driver of this car!</p>
  <% end %>

</div>
