<div class="container">

  <h1>This is my show</h1>

  <p><%= @ride.description %></p>

  <p>Do you wanna book?</p>

    <%= simple_form_for [@ride, @booking] do |f| %>
      <%= f.input :comment,
                  placeholder: "Say hi and describe why you would be the best driver !",
                  hint: "Your comment must be at least 10 characters"
                  %>
      <%= f.submit %>
    <% end %>

    <%= console %>


</div>
