
<h1>show</h1>

<div class="container">
        <div class="card">
        <ul>

        <li>Description:  <%= @ride.description %></li>
        <li>Car Type:       <%= @ride.car_type %></li>
        <li>Owner Presence: <%= @ride.owner_presence%></li>
        <li>Seat_available:  <%= @ride.seats_available %></li>
        <li>Departure date:  <%= @ride.date %></li>
        <li>Departure location:  <%= @ride.departure_location %></li>
        <li>Arrival location:  <%= @ride.arrival_location %></li>


           <%= link_to "Delete ride",
             ride_path(@ride),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary btn-sm"%>
         </ul>

          <p>Do you wanna book?</p>

    <%= simple_form_for [@ride, @booking] do |f| %>
      <%= f.input :comment,
                  placeholder: "Say hi and describe why you would be the best driver !",
                  hint: "Your comment must be at least 10 characters"
                  %>
      <%= f.submit %>
    <% end %>

    <%= console %>

          <%
=begin%>
 <%= link_to "Delete bookmark",
            list_bookmarks_path(bookmark),
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn btn-primary btn-sm"%>
<%
=end%>
        </div>
    <%
=begin%>
 <% end %>
<%
=end%>

</div>
